span{
    margin: 4px;
}

.tagContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.titleContainer{
    display: flex;
    flex-wrap: wrap;
}

.reaction{
    width : auto;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardStyle{
    margin: 10px;
    /* max-height: 200px;  */
}

.reactionsContainer{
    width: 50%;
    display: flex;
    justify-content: space-around;
}